body{
   background-image: linear-gradient(57deg,rgb(235, 203, 168)0%, rgb(229 187 139)47%, rgb(240, 165, 80)100%); 
 }
 

 .main input{
   width:25%;
   background-image: linear-gradient(57deg,rgb(112, 74, 30)0%, rgb(229 187 139)47%, rgb(229, 166, 99)100%);
   margin-left: 10px;
   border:  2px solid rgb(12, 8, 3);
   color: rgb(38, 26, 10);
   font-size: x-large;
   font-style: oblique;
   border-radius: 10px 10px 10px 10px;

 }
 .form-select{
   margin-left: 10px;
   width: 15%;
   height: 7%;
   background-color:  rgba(171, 116, 52, 0.461);
   border: 2px solid rgb(12, 8, 3);
   color:rgb(38, 26, 10);
   font-size: x-large;
   font-style: oblique;
   border-radius: 10px 10px 10px 10px;
   margin-top: 5px;

 }

 .main button{
   width: 90px;
   background-image: linear-gradient(57deg,rgb(112, 74, 30)0%, rgb(229, 166, 99)47%, rgb(229, 166, 99)100%);
   border: 1px solid rgb(16, 15, 15);
   border-radius: 5px 5px 5px 5px;
   align-items: center;
   margin-top:5px;
   color: white ;
   font-size: large;
   cursor: pointer;
   margin-left: 20px;
   }

   .table-bordered{
      margin-left: 300px;
      margin-top: 10px;
      width: 60%;
      height: 20%;
      border: 2px solid rgb(12, 8, 3);
      border-radius: 210px 10px 10px 10px;
   


   }

   .tr1-tr1{
      background-image: linear-gradient(57deg,rgb(229 187 139)0%, rgb(229 187 139)47%, rgb(112, 74, 30)100%);
      border: 2px solid rgb(12, 8, 3);
      color: rgb(65, 52, 36);
      font-style: oblique;
      font-size: x-large;
      text-align: center;
   
     
   }



   .tr2-tr2{
      background-color: rgb(244, 241, 237);
      border: 2px solid rgb(12, 8, 3);
      color: rgb(65, 52, 36);
      font-style: oblique;
      font-size: x-large;
      text-align: center;
     
   }

.items{
   display: none;
   background:rgba(0, 0, 0, .5);
   border-radius: 10px 10px 10px 10px;
   color: #000;
   position:absolute;
   width: 60%;
   height: 30%;
   margin-left: 300px;
   margin-top: 270px;
   transform: translatey(-50%);
   
}
.delete{
   position:absolute;
   top:0;
   left:840px;
}
.row{
   border-radius: 25px;
   padding:80px 45px;
}
.myitem{
   height:120px;
   background-image: url('/uploads/images/b.jpg');
   background-size: cover;
   border-radius: 20px 20px 20px 20px;
   position:relative;
   border:25px;
   display:flex;
   justify-content:center;
   align-items: center;

}
.image{
   width:80px;
   height:80px;
   position:absolute;
   border-radius: 59%;
   top:-40px;
   left:50px;
   transform: translatex(-50%);

}
.image img{
   width:100%;
   height:100%;
   border-radius: 20%;
}

