body {
    background-color:rgb(199, 150, 94);
    font-family: 'Cairo', sans-serif;
    font-family: 'PT Serif', serif;
    margin:0;

}

h1 {
    padding-top: 15px;
    padding-bottom: 15px;
    color: rgb(60, 28, 1);
    font-size: 45pt;
    font-family: 'Cairo', sans-serif;
    font-family: 'PT Serif', serif;
    
}

.containertable {
    box-shadow: 15cm;
    margin-left: 10%;
    border: 2px solid #351801;
    width: 80%;
    height: 80%;
    font-family: 'Cairo', sans-serif;
    font-family: 'PT Serif', serif;
    color: rgb(50, 30, 2);
    font-size: 16.5pt;
    align-items: center;
    text-align: center;
    border-color: rgb(59, 21, 1);
    background-color: #fee2b3; 
}
.containertable .tablehead{
    color: #ffe9d6;
    background-color: #351801;
    border-radius: 25%;
    border: 15px;
    padding-bottom: 20px;
}
.button .btn-pop{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

} 
.pull-center{
    margin-left: 81%;
    padding-bottom: 15px;
}
.ff{
    background-color: #C7965E;
    border-radius: 10px 10px 10px 10px;
}
a{
    text-decoration: none;
    color: black;
}